* {
  font-family: sans-serif;
}

body {
  background-image: url('../img/background.jpg');
  margin: 0;
  padding: 0;
}


header {
    background-color: black;
}


#high-score {
  display: inline-block;
  color: black;
  font-size: 18px;
  padding: 5px 5px 5px 10px;
  color: orange;
}

#time {
  float: right;
  color: black;
  font-size: 18px;
  padding: 5px 10px 5px 5px;
  color: orange;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50%;
  margin: auto;
}

.start , .description, .choiceDescription {
  display: flex;
  display: block;
  justify-content: center;
  text-align: center;
  font-weight: normal;
}

.description, .choiceDescription {
  /* background-color: black; */
  color: orange;
}

button {
  margin: 5px 5px 0px 5px;
  background-color: black;
  color: orange;
  border-radius: 5px;
  font-size: large;
  border: 30px;
}

#final-score {
  margin: 0px 125px 0px 125px;
  background-color: black;
  border-radius: 5px;
  font-size: large;
  border: 30px;
}

button:hover {
  background-color: rgb(104, 96, 96);
  cursor: pointer;
}

@media screen and (max-width: 1060px) {
  .container, body {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}
